<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<title>url365</title>

		<!-- Meta tags describe a page's content;  -->
		<!-- the meta tags don't appear on the page itself, --> 
		<!-- they help tell search engines what a web page is about. -->

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="hongshan zhang">

        <link href="{% static "img/favicon.ico" %}" rel="shortcut icon">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
        
        <!-- ?os.urandom(23423) is to make django does not cache static files -->
        <link href="{% static "css/register-form.css?os.urandom(1341273)" %}" rel="stylesheet">
        {% block style %}{% endblock style %}
		
	</head>
	
	<body>
		<div id="wrapper" style="width:100%; text-align:center">
			</br>
			</br>
			</br>
			<img src="{% static "img/web365.png" %}" alt="Picture of Web365" /> <!-- Images -->
		</div>
		
		<!-- data captured within this form is sent to the URL /rango/add_page/ as a HTTP POST request -->
		<!-- id="page_form" IDs are good when you plan on doing some sort of client-side work on the element, as an element that has an ID can easily and quickly be retrieved by Javascript-->
		
		
		<!-- {{form.title}} this is reserved parameter-->
		

		<form id="register_form" method="post" action="/register/register/">
		
			<!-- Cross-Site Request Forgery (CSRF)token, it is required by Django -->
			{% csrf_token %}
			
			<!-- {% for hidden in form.hidden_fields %} -->
				<!-- {{ hidden }} -->
			<!-- {% endfor %} -->
			
			<!-- {% for field in form.visible_fields %}  -->
				<!-- {{ field.errors }}  -->
				<!-- {{ field.help_text}} -->
				<!-- {{ field }} -->
			<!-- {% endfor %} -->
			<div class="fieldset" >
				<div class="url">
					{% if form.url.errors %}
						<small>{{form.url.errors}}</small>
					{%else%}
						<p>&nbsp</p>
					{% endif %}
					
					{{form.url}}
					<p><label class="text_box_label" for="{{form.url.label}}">{{form.url.label}}</label></p>
					
				</div>

				<div class="email">				
					{% if form.email.errors %}
						<small>{{form.email.errors}}</small>
					{%else%}
						<p>&nbsp</p>
					{% endif %}
					
					{{form.email}}
					<p><label class="text_box_label" for="{{form.email.label}}">{{form.email.label}}</label></p>
				</div>

				</br>
				</br>
				</br>
				<label class="label_label">Notify me when there is:</label>
				</br>
				</br>
				
				<label class="check_box_label" for="{{form.content_change.label}}">{{form.content_change.label}}</label>
				{{form.content_change}}
				{{form.content_change.errors}}
				</br>
				
				<label class="check_box_label" for="{{form.server_is_down.label}}">{{form.server_is_down.label}}</label>
				{{form.server_is_down}}
							
				</br>
				</br>
				</br>
				
				
				<input type="submit" name="submit" value="Submit" class="submit_button"/>
				</br>

				{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
				{%else%}
					<p>&nbsp</p>
				{% endif %}
				</br>
				<label class="label_comment">Keep an eye on a url and notify you when there is content change or, when the server is down.</label>
		

			</div>
		</form>


	</body>
</html>